profiles {
  standard { process.executor = 'local' }

  lsf {
    executor {
      name            = 'lsf'
      queueSize       = 2000
      submitRateLimit = '50/10sec'
      retry.reason    = "Request from non-LSF host rejected. Job not submitted."
    }

    process {
      queue = 'production'
    }
  }

  slurm {
    executor {
      name            = 'slurm'
      queueSize       = 2000
      //submitRateLimit = '50/10sec'
    }

    process {
      time = '3d'
    }
  }
}

notification {
  enabled = true
  to = "${USER}@ebi.ac.uk"
}

singularity {
  enabled    = true
  autoMounts = true
}

process {
  withLabel: long { queue = 'long' }

  memory = { ["500 MB", "4 GB", "12 GB", "200 GB", "300 GB"][task.attempt - 1] }

  // Exit status codes:
  // - 130: job exceeded LSF allocated memory
  // - 137: job exceeded SLURM allocated memory
  // - 140: job exceeded SLURM allocated resources (memory, CPU, time)
  errorStrategy = { task.exitStatus in 130..140  ? 'retry' : 'finish' }
  withLabel: retry_before_ignoring {
   errorStrategy = { task.exitStatus in 130..140  ? 'retry' : 'ignore' }
  }
  maxRetries = 3
}

trace {
    enabled = true
    overwrite = true
    file = "reports/trace.txt"
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    overwrite = true
    file = "reports/flowchart.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}
