profiles {
  standard {
    process.executor = 'local'
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  lsf {
    process {
      executor = 'lsf'
      queue = 'production'
      // withLabel: default {
      //   clusterOptions = '-R"select[mem>2000] rusage[mem=2000]" -M2000'
      // }
      // withLabel: medmem {
      //   clusterOptions = '-R"select[mem>8000] rusage[mem=8000]" -M8000'
      // }
      // withLabel: urgent {
      //  clusterOptions = '-R"select[mem>2000] rusage[mem=2000]" -M2000'
      // }
      // withLabel: higmem {
      //   clusterOptions = '-R"select[mem>16000] rusage[mem=16000]" -M16000'
      // }
      // withLabel: long {
      //   clusterOptions = '-R"select[mem>2000] rusage[mem=2000]" -M2000'
      // }
    }
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  //untested 
  slurm {
    process.executor = 'slurm'
    singularity {
      enabled = true
      autoMounts = true
    }
  }  
}

trace {
    enabled = true
    file = "reports/trace.txt"
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    file = "reports/flowchart.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    file = "reports/report.html"
}
