profiles {
  standard { process.executor = 'local' }

  lsf {
    executor {
      name            = 'lsf'
      queueSize       = 500
      submitRateLimit = '50/10sec'
    }
  }

  //untested
  slurm { process.executor = 'slurm' }
}

singularity {
  enabled    = true
  autoMounts = true
}

process {
  queue  = 'production'
  memory = '2 GB'
  withLabel: medmem { memory =  '8 GB' }
  withLabel: urgent { memory =  '2 GB' }
  withLabel: higmem { memory = '24 GB' }
  withLabel: long   { memory =  '2 GB' }

  // avoid Nextflow job submission issues (exit status: 255)
  // e.g., "Request from non-LSF host rejected"
  errorStrategy = { task.exitStatus == 255 ? 'retry' : 'finish' }
  withLabel: error-ignore {
    errorStrategy = { task.exitStatus == 255 ? 'retry' : 'ignore' }
  }
  maxRetries = 3
}

trace {
    enabled = true
    overwrite = true
    file = "reports/trace.txt"
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    overwrite = true
    file = "reports/flowchart.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}
