profiles {
  standard {
    process.executor = 'local'
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  lsf {
    process {
      executor = 'lsf'
      queue = 'production'
  }

  slurm {
    process.executor = 'slurm'
    singularity {
      enabled = true
      autoMounts = true
    }
  }  
}