language: perl
perl:
- '5.14'
env:
  matrix:
  - COVERALLS=true  DB=mysql
  global:
    secure: O28fOP56ZKwOl8ftpEaL+6DUxyD7JHAg4KIA7nrOUXR1cHr9F2q0+EFtZWJb9gzhfpr5wALSfHwXfSZslCp9mX61BAzHMQxUT1ArLibJWsjA8r7/6lcm2RP4WgfH8nEIF/83gaAJrxs6Qmt4dmtDHA7qhk+X/xDCYqbtUU3sldw=
sudo: false
dist: trusty
group: deprecated
addons:
  apt:
    packages:
    - unzip
before_install:
- git clone --branch release/92 --depth 1 https://github.com/Ensembl/ensembl-test.git
- git clone --branch release/92 --depth 1 https://github.com/Ensembl/ensembl.git
- git clone --branch master     --depth 1 https://github.com/Ensembl/ensembl-hive.git
- git clone --branch release/92 --depth 1 https://github.com/Ensembl/ensembl-io.git
- git clone --branch release/92 --depth 1 https://github.com/Ensembl/ensembl-funcgen.git
- wget https://github.com/bioperl/bioperl-live/archive/bioperl-release-1-6-1.zip
- unzip bioperl-release-1-6-1.zip
- git clone --branch 1.3.2 --depth 1 https://github.com/samtools/htslib.git
- cd htslib
- make
- cd ..
- export HTSLIB_DIR=$PWD/htslib
- cd C_code/
- make
- cd ../
install:
- cpanm -v --installdeps --with-recommends --notest --cpanfile ensembl/cpanfile .
- cpanm -v --installdeps --notest .
- cpanm -n Devel::Cover::Report::Coveralls
- export PERL5LIB=$PWD/bioperl-live-bioperl-release-1-6-1
- cpanm Bio::DB::HTS@2.9
- cp travisci/MultiTestDB.conf.travisci  modules/t/MultiTestDB.conf
jobs:
  include:
  - script: ./travisci/harness.sh
  - stage: trigger_dependent_builds
    script: ./travisci/trigger-dependent-build.sh
notifications:
  email:
    on_success: always
    on_failure: always
  slack:
    secure: ddpvJ5UJ+rEcllroQYpPg381+5iPDIt5VDlu1Zeepwx9KeUofJpGWO0H4SJjp75+3uKubEhaSJWnh0No296Lv8rtbZkji3rwmK/qxX3OtzVu9LtMx5+7MRQymI54D6j9gzZ2QKR0DW+K3GwBYR31KqmyZIhnKd0UeTVbEXuaQqVk2Oe4LdzZJkezNgdphuz3cFsaqd2fg85PXNgbfGLwdbGRDl+39m6wQ1nWqzTDqO/NECCeheev1OYTYXdM49rd6NyfMeUMZujwuix+YLN6Ph7ePTyxuheE+PQSvJkoFCxpnsly9rxqo/594RwcDa8OsJPLm8cN6+5L8zmb4M5UfGtUFHsK9usp96DguaadAG3esnkwdQ6QI2w8x/+3l1IesvnPJFTNtwU6iY9MvGKq6Zgb6X5tNVhrOYxV0Ixo1AB24wjd32AQWrOg2rvVpB9bIYisSlSdJJG9ON0tEykbcIOtG73PRhrgZHUswSN5lZuTf0beVnhH2Q3Lo5qbIGfsrQqG0G6/P7LgagkQ89qfexpGTSd6YfzjSyMmqcQ7dBl8/D1MtysQdHOL+R2zJB6JdFM6BZh78AzSExpQHs/do/0rObmPRM/8JcsyFgHrpWx7Ntbpy/vPKp9fGH/jOrif3Ex4Qxs0+buYR+IQpsiSqiVaTex9GOIZlwg7kuLlXdA=
