profiles {
  lsf {
    process.executor = 'lsf'
  }

  slurm {
    process.executor = 'slurm'
  }
}

process {
  errorStrategy = 'ignore'
}

singularity {
  enabled = true
  autoMounts = true
}

trace {
    enabled = true
    overwrite = true
    file = "reports/trace.txt"
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    overwrite = true
    file = "reports/flowchart.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}
