profiles {
  standard { process.executor = 'local' }

  lsf {
    executor {
      name            = 'lsf'
      queueSize       = 500
      submitRateLimit = '50/10sec'
    }
  }

  slurm { process.executor = 'slurm' }
}

singularity {
  enabled    = true
  autoMounts = true
}

process {
  queue  = 'production'
  memory = { ["1 GB", "4 GB", "8 GB", "40 GB"][task.attempt - 1] }

  // Exit status codes:
  // - 130: job exceeded LSF allocated memory
  // - 140: job exceeded SLURM allocated resources (memory, CPU, time)
  errorStrategy = { task.exitStatus in [130, 140] ? 'retry' : 'ignore' }

  maxRetries = 3
}

trace {
    enabled = true
    overwrite = true
    file = "reports/trace.txt"
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    overwrite = true
    file = "reports/flowchart.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}
