profiles {
  standard { process.executor = 'local' }

  lsf {
    executor {
      name            = 'lsf'
      queueSize       = 500
      submitRateLimit = '50/10sec'
    }
  }

  slurm {
    executor {
      name            = 'slurm'
      queueSize       = 500
      submitRateLimit = '50/10sec'
    }
  }
}

notification {
  enabled = true
  to = "${USER}@ebi.ac.uk"
}

singularity {
  enabled    = true
  autoMounts = true
}

process {

  memory = { ["1 GB", "4 GB", "8 GB", "40 GB"][task.attempt - 1] }
  time   = '2d'

  // Exit status codes:
  // - 130: job exceeded LSF allocated memory
  // - 140: job exceeded SLURM allocated resources (memory, CPU, time)
  errorStrategy = { task.exitStatus in [130, 140] ? 'retry' : 'ignore' }

  maxRetries = 3
}

process {
  withName: run_variant_recoder {
    errorStrategy = 'retry'
    maxRetries    = 4
    retry = { 
      def oomish = [137, 139, 140, 143]
      return (oomish.contains(task.exitStatus) || task.exitStatus as int > 0)
    }
  }
}

trace {
    enabled = true
    overwrite = true
    fields = 'task_id,process,tag,status,exit,attempt,cpus,memory,time,realtime,submit,duration,workdir'
    file = "${params.output ?: 'output'}/reports/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "reports/flowchart.mmd"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}
