profiles {
  standard { 
    process.executor = 'local'
    process.memory = '2GB'
    process.cpus = 1
  }
  
  lsf {
    process.executor = 'lsf'
    process.memory = '2GB'
    process.cpus = 1
  }

  slurm {
    process.executor = 'slurm'
    process.memory = '2GB'
    process.cpus = 1
    process.time = 48
  }
}

process {
  queue  = 'production'
  memory = '2 GB'
}

notification {
  enabled = true
  to = "${USER}@ebi.ac.uk"
}

dag {
    enabled = true
    overwrite = true
    file = "reports/flowchart.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}
